@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:300,400,600|Raleway:200,400|Major+Mono+Display');
.landing-cont {
    width: 100vw;
    height: 100vh;
    background-color: #0d1b1e;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Major Mono Display";
}

.landing-bars {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-left: 10vh;
}

.down-arrow {
    width: 10vw;
}

.center-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.learn-more {
    font-size: 2vw;
}

.landing-bar {
    margin-bottom: 2vw;
    display: flex;
    font-size: 6vw;
}

.landing-word {
    color: white;
    margin: auto 0;
}

.main-cont {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: "Open Sans";
    font-weight: 300
}

.about-cont {
    background-color: #7798ab;
    width: 100vw;
    height: 100vh;
}

.about-sub-cont, .support-sub-cont {
    margin: 10vh;
}

.title {
    font-family: "Major Mono Display";
    font-size: 6vw;
    color: white;
}

.content {
    font-size: 2vw;
    margin-top: 2vw;
    margin-left: 5vh;
    color: white;
}

.support-cont {
    width: 100vw;
    height: 100vh;
    background-color: #0d1b1e;
}